.App-header {
  margin: 10px 0;
}

.App-logo {
  display: block;
  margin: 0 auto;
  max-width: 350px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

a:link {
  color: green;
}

a:visited {
  color: green;
}

a:hover {
  color: #e4bad4;
}

a:active {
  color: green;
}