.Dictionary section {
    background-color: #edffec;
    border-style: solid;
    border-color: #69b693;
    border-radius: 10px;
    box-shadow: 5px 5px #69b693;
    padding: 10px 10px;
}

.Dictionary input {
    width: 100%;
    color: #69b693;
    border: 1px solid #69b693;
    border-radius: 6px;
    padding: 4px 4px;
}

.Dictionary .hint {
    font-size: 11px;
    padding: 4px 4px;
}